$cl1: clamp(0.6rem, 2.07vw + 0.02rem, 3rem);
$cl2: clamp(0.66rem, 2.79vw + -0.12rem, 3.9rem);
$cl3: clamp(0.73rem, 3.74vw + -0.32rem, 5.07rem);
$cl4: clamp(0.8rem, 4.99vw + -0.6rem, 6.59rem);
$cl5: clamp(0.88rem, 6.63vw + -0.98rem, 8.57rem);
$cl6: clamp(0.97rem, 8.77vw + -1.49rem, 11.14rem);
$cl7: clamp(1.06rem, 11.57vw + -2.18rem, 14.48rem);
$cl8: clamp(1.17rem, 15.22vw + -3.09rem, 18.82rem);
$cl9: clamp(1.29rem, 19.99vw + -4.31rem, 24.47rem);
$cl10: clamp(1.41rem, 26.21vw + -5.92rem, 31.81rem);