$red: hsl(0, 100%, 57%);
$orange: hsl(25, 100%, 54%);
$yellow: hsl(57, 88%, 52%);
$green: hsl(120, 79%, 51%);
$cyan: hsl(180deg, 88%, 52%);
$blue: hsl(220deg, 88%, 52%);
$lightBlue: hsl(215, 88%, 52%);
$purple: hsl(278, 88%, 52%);
$lightGray: hsl(0, 0%, 45%);
$gray: hsl(0, 0%, 35%);
$darkGray: hsl(0, 0%, 25%);
$lightBlack: hsl(0, 0%, 15%);
$black: hsl(0, 0%, 0%);
$mainColor : $purple;
$altColor : $lightBlue;